<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body" style="background-color: #f5f5f5;">
                        <div class="row">
                            <div class="col-sm-4">
                                <h5>Sobre nós</h5>
                                <p>Somos uma empresa dedicada a fornecer soluções inovadoras para o mercado. Com anos de experiência, nossa missão é oferecer produtos de alta qualidade e excelente atendimento ao cliente.</p>
                            </div>
                            <div class="col-sm-4">
                                <h5>Informações de contato</h5>
                                <p>
                                    <strong>Endereço:</strong> Rua Fictícia, 123, Bairro Imaginário, Cidade Exemplo, Estado Demo, 00000-000<br>
                                    <strong>CNPJ:</strong> 00.000.000/0000-00<br>
                                    <strong>Email:</strong> contatoempresaexemplo.com<br>
                                    <strong>Telefone:</strong> (00) 1234-5678
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <h5>Siga-nos</h5>
                                <p>
                                    <a href="#" target="_blank">Facebook</a><br>
                                    <a href="#" target="_blank">Twitter</a><br>
                                    <a href="#" target="_blank">Instagram</a><br>
                                    <a href="#" target="_blank">LinkedIn</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
